/* --- LAYOUT --- */
.contacts-container {
    display: flex;
    padding: 0 !important;
    height: calc(100vh - 90px);
    overflow: hidden;
}

/* --- LEFT LIST --- */
.contact-list-container {
    width: 400px;
    background-color: var(--white);
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.contact-list-btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 24px;;
}

.btn-add-contact {
    width: 65%;
    justify-content: center;
    gap: 10px;
    display: flex;
    align-items: center;
}

.contact-list {
    overflow-y: auto;
    flex: 1;
    padding-right: 5px;
    padding-left: 5px;
}

.contact-letter {
    font-size: 20px;
    padding: 15px 30px;
}

.contact-separator {
    height: 1px;
    background-color: #D1D1D1;
    margin: 0 30px 10px 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.contact-item:hover {
    background-color: #F0F0F0;
}


.contact-item.active {
    background-color: #2A3647; 
    color: white;
}

.contact-avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 2px solid white;
    flex-shrink: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-size: 20px;
}

.contact-email {
    color: #007CEE;
    text-decoration: none;
    font-size: 16px;
}

.contact-item.active .contact-name,
.contact-item.active .contact-email {
    color: white; 
}

/* --- RIGHT DETAIL VIEW --- */
.contact-detail-view {
    flex: 1;
    padding: 60px;
    background-color: var(--bg-color);
    overflow-y: auto;
}

.contacts-header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.header-divider-vertical {
    width: 3px;
    height: 60px;
    background-color: var(--secondary-color);
}

.contact-detail-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-detail-header {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.contact-avatar-large {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FF7A00;
    color: white;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.contact-detail-name-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-detail-name {
    font-size: 47px;
    font-weight: bold;
}

.contact-detail-actions {
    display: flex;
    gap: 15px;
}

.action-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    color: var(--primary-color);
}

.action-btn:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

.contact-info-headline {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-info-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: transparent;
}

.info-label {
    font-weight: bold;
}

.info-value-email {
    color: #007CEE;
    text-decoration: none;
    margin-bottom: 10px;
}

.info-value-phone {
    color: black;
    text-decoration: none;
}

/* --- ADD CONTACT OVERLAY --- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-card {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    animation: slideIn 0.4s ease-out;
    position: relative;

}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.add-contact-card.slide-out {
    animation: slideOut 0.3s ease-in forwards;
}

.add-contact-left {
    background-color: var(--primary-color);
    color: white;
    width: 40%;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.add-contact-logo {
    width: 55px;
    margin-bottom: 10px;
}

.add-contact-left h2 {
    font-size: 61px;
    margin: 0;
    line-height: 1.2;
}

.add-contact-left p {
    font-size: 27px;
    margin: 0;
}

.blue-line-horizontal {
    width: 90px;
    height: 3px;
    background-color: var(--secondary-color);
    margin-top: 10px;
}

.add-contact-right {
    width: 60%;
    padding: 40px 60px;
    position: relative;

    display: flex;
    align-items: center;
}

.close-icon-container {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 10;
}

.close-icon {
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
}

.close-icon:hover {
    background-color: #EEE;
}

.add-contact-form-container {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.add-contact-user-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    font-size: 47px;
    font-weight: 500;
    color: white;
}

.user-icon-placeholder {
    width: 60px;
    height: 60px;
    filter: brightness(0) invert(1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 35px; 
    flex: 1;
}

.contact-input-wrapper {
    position: relative;
}

.input-contact {
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
}

.contact-error-msg {
    color: #FF8190;
    font-size: 14px;
    position: absolute;
    bottom: -22px;
    left: 0;
}

.error-border {
    border-color: #FF8190 !important;
    box-shadow: 0 0 4px 0 #FF8190;
}

.input-name {
    background-image: url('../assets/img/user_icon.png');
}

.input-email {
    background-image: url('../assets/img/mail_icon.png');
}

.input-phone {
    background-image: url('../assets/img/phone_icon.png');
}

.add-contact-actions {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn-transparent {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-create-contact img {
    flex-shrink: 0;
    object-fit: contain;
}

/* --- ANIMATIONS --- */
@keyframes slideInBottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

/* --- MOBILE ELEMENTS (Hidden on Desktop) --- */
.mobile-back-arrow {
    display: none;
}

.mobile-menu-btn {
    display: none;
}

.mobile-menu-options {
    display: none;
}

/* --- RESPONSIVE CONTACTS (Desktop Intermediate 1000px - 1200px) --- */
@media (max-width: 1200px) {
    .contact-list-container {
        width: 320px; 
    }

    .contact-detail-view {
        padding: 30px;
    }

    .contact-detail-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}

/* --- RESPONSIVE CONTACTS (Mobile < 1000px) --- */
@media (max-width: 1000px) {
    .contacts-container {
        flex-direction: column;
        height: calc(100vh - 80px - 90px);
        margin-bottom: 80px;
        background-color: var(--white);
    }

    /* LIST VIEW */
    .contact-list-container {
        width: 100%;
        height: 100%;
        padding: 20px;
        box-shadow: none;
    }

    .contact-avatar-large {
        width: 80px;
        height: 80px;
        font-size: 30px;
        
    }
    .btn-add-contact {
        position: fixed;
        bottom: 100px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 0;
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        z-index: 90;
        gap: 0; 
    }

    .btn-add-contact img {
        width: 32px;
        height: 32px;
    }

    /* DETAIL VIEW (Hidden by default) */
    .contact-detail-view {
        display: none;
        padding: 40px 20px;
        height: 100%;
        position: relative;
    }


    .show-mobile-details .contact-list-container {
        display: none;
    }

    .show-mobile-details .contact-detail-view {
        display: block;
        position: fixed;
        top: 90px;
        left: 0;
        right: 0;
        bottom: 0; 
        width: 100%;
        height: auto;
        z-index: 10; 
        background-color: var(--bg-color);
        overflow-y: auto;
        padding-bottom: 150px; 
        -webkit-overflow-scrolling: touch; 
    }

    
    .header {
        z-index: 20 !important;
        position: relative;
    }


    .contacts-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 30px;
        position: relative;
    }

    .contacts-header h1 {
        font-size: 47px;
    }

    .contact-list-btn-container {
        padding: 0px;
    }

    .header-divider-vertical {
        display: none;
    }

    .header-underline-blue {
        width: 90px;
        height: 3px;
        background-color: var(--secondary-color);
        display: block;
    }

    .contact-detail-name {
        font-size: 40px;
        font-weight: bold;
    }

    .contact-detail-header {
        gap: 20px;
    }


    .mobile-back-arrow {
        display: block;
        position: absolute;
        top: 48px;
        right: 32px;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    .contact-detail-actions {
        display: none;
    }

    .mobile-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 100px;
        right: 20px;
        width: 60px;
        height: 60px;
        background-color: var(--primary-color);
        border-radius: 50%;
        cursor: pointer;
        z-index: 90;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        gap: 0;
    }



    .mobile-menu-options {
        position: fixed;
        bottom: 100px;
        right: 85px;
        background-color: white;
        padding: 10px;
        border-radius: 20px 20px 0 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 90;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transform: scale(0);
        transform-origin: bottom right;
        transition: transform 0.2s ease-in-out;
    }

    .mobile-menu-options.show {
        transform: scale(1);
    }

    /* --- MODAL MOBILE (Slide Up) --- */
    .add-contact-card {
        flex-direction: column;
        width: 90%;
        height: auto;
        max-height: 90vh;
        overflow-y: auto;
        border-radius: 30px;
        animation: slideInBottom 0.4s ease-out;
    }

    .add-contact-left {
        width: 100%;
        height: auto;
        padding: 25px 20px;
        padding: 64px 24px;
        align-items: flex-start;
        border-radius: 0;
    }

    .add-contact-right {
        width: 100%;
        height: auto;
        padding: 20px;
        border-radius: 0;
        display: flex;
        align-items: flex-start;
    }

    .add-contact-logo {
        display: none;
    }

    .add-contact-left h2 {
        font-size: 32px;
    }

    .add-contact-left p {
        font-size: 16px;
    }

    .add-contact-form-container {
        flex-direction: column;
        gap: 15px;
        margin-top: 30px;
        margin-top: 50px;

    }

    .add-contact-user-img {
        position: absolute;
        width: 100px;
        height: 100px;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        font-size: 38px;
    }

    .close-icon {
        filter: brightness(0) invert(1);
    }

    .add-contact-actions {
        width: 100%;
        justify-content: center;
    }

    .input-contact {
        padding: 10px 15px;
        font-size: 16px;
    }

    .btn-create-contact {
        padding: 16px;
    }

    .btn-transparent {
        display: none;
    }
}

.btn-transparent:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-create-contact {
    padding: 12px 24px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* --- CUSTOM SCROLLBAR FOR CONTACTS --- */
.contact-list::-webkit-scrollbar,
.contact-detail-view::-webkit-scrollbar {
    width: 6px;
}

.contact-list::-webkit-scrollbar-track,
.contact-detail-view::-webkit-scrollbar-track {
    background: transparent;
}

.contact-list::-webkit-scrollbar-thumb,
.contact-detail-view::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 10px;
}

.contact-list::-webkit-scrollbar-thumb:hover,
.contact-detail-view::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

/* Firefox */
.contact-list,
.contact-detail-view {
    scrollbar-width: thin;
    scrollbar-color: #2a3d59 transparent;
}